<footer>
    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.2287176653995!2d106.7391876749916!3d-6.364438993625656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ef496696e3ef%3A0x6625a5931604add6!2sPT%20Eshbi%20Putra%20Indonesia!5e0!3m2!1sen!2sid!4v1749973641735!5m2!1sen!2sid"
        height="400"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
    <div class="footer-content">
      <div class="footer-column logo-section">
        <img src="/assets/images/Logo-eshbi-footer.png" class="footer-logo" />
        <p class="tagline">"Do Things Differently Or Better"</p>
      </div>

      <div class="footer-column menu-section">
        <h4>MENU</h4>
        <ul>
          <li><a href="#" data-page="index.html">Beranda</a></li>
          <li><a href="#" data-page="profile.html">Profile</a></li>
          <li><a href="#" data-page="service.html">Service</a></li>
          <li><a href="#" data-page="blog.html">Blog</a></li>
          <li><a href="#" data-page="kontak.html">Kontak</a></li>
        </ul>
      </div>

      <div class="footer-column social-section">
        <h4>SOSIAL MEDIA</h4>
        <div class="social-icons">
          <a
            href="https://www.facebook.com/profile.php?id=61559427165365"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            href="https://www.instagram.com/eshbiofficial.id/?hl=en"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
            ><i class="fab fa-instagram"></i
          ></a>
          <a
            href="https://www.tiktok.com/@eshbiputraindonesia?is_from_webapp=1&sender_device=pc"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="TikTok"
            ><i class="fab fa-tiktok"></i
          ></a>
          <a
            href="https://www.youtube.com/channel/UC1blI3sQq5DCmIvtkPyLVKA"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Youtube"
            ><i class="fab fa-youtube"></i
          ></a>
        </div>
      </div>

      <div class="footer-column contact-section">
        <h4>KONTAK KAMI</h4>
        <p>
          Jl. H. Muhari, Serua, Kec. Bojongsari, Kota Depok, Jawa Barat 16517
        </p>
        <p>eshbiputraindonesiaofficial@gmail.com</p>
        <p>021 74787660</p>
      </div>
    </div>

    <div class="copyright">
      <p>&copy; Copyright 2025 ESHBI</p>
    </div>
  </footer>