<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <a href="index.html">
        <img src="/assets/images/Logo-Eshbi-header.png" alt="Logo Eshbi" />
      </a>
    </div>

    <div class="hamburger">
      <i class="fas fa-bars"></i>
    </div>

    <div class="nav-group-right">
      <ul class="nav-menu">
        <li><a href="#" data-page="index.html">Beranda</a></li>
        <li><a href="#" data-page="profile.html">Profil</a></li>
        <li><a href="#" data-page="service.html">Layanan</a></li>
        <li><a href="#" data-page="blog.html">Artikel</a></li>
        <li><a href="#" data-page="kontak.html">Kontak</a></li>
      </ul>
      <div class="nav-right">
        <div class="nav-right">
          <a
            href="#"
            class="language-selector"
            id="lang-switcher"
            aria-label="Language Selector"
          >
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
