<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <a href="{{ site.baseurl }}/index.html">
        <img src="{{ site.baseurl }}/assets/images/Logo-Eshbi-header.png" alt="Logo Eshbi" />
      </a>
    </div>

    <div class="hamburger">
      <i class="fas fa-bars"></i>
    </div>

    <div class="nav-group-right">
      <ul class="nav-menu">
        <li><a href="{{ site.baseurl }}/index.html">Beranda</a></li>
        <li><a href="{{ site.baseurl }}/profile.html">Profile</a></li>
        <li><a href="{{ site.baseurl }}/service.html">Service</a></li>
        <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
        <li><a href="{{ site.baseurl }}/kontak.html">Kontak</a></li>
      </ul>
      <div class="nav-right">
        <div class="language-selector">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Flag_of_Indonesia.svg"
            alt="Bendera Indonesia"
          />  
          <span>IND</span>
        </div>
      </div>
    </div>
  </div>
</nav>